<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#">Back</ion-back-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-title class="center" >IT Shop</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/product/15promax.webp" >
        <div class="center">
          Iphone 15 Pro Max <br>
          ราคา : 44,900 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <img src="../../../assets/product/f23fe.webp">
        <div class="center">
          Samsung F23 Fe <br>
          ราคา : 22,900 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/product/ipadair5.webp" >
        <div class="center">
          Apple Ipad Air 5 <br>
          ราคา : 20,000 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <img src="../../../assets/product/mi-14tpro.jpg" >
        <div class="center">
          Xiaomi 14 Pro<br>
          ราคา : 27,000 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <img src="assets/product/mipad5.jpg" >
      <div class="center">
        Xiaomi Pad 5 <br>
        ราคา : 10,990 <br>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          สั่งซื้อ
        </ion-button>
      </div>
    </ion-col>
    <ion-col>
      <img src="../../../assets/product/s24.webp" >
      <div class="center">
       Samsung s24 <br>
        ราคา : 44,900 <br>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          สั่งซื้อ
        </ion-button>
      </div>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="assets/product/ts9.jpg" >
      <div class="center">
        Samsung tab s9<br>
        ราคา : 24,900 <br>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          สั่งซื้อ
        </ion-button>
      </div>

    </ion-col>
    <ion-col>
      <img src="../../../assets/product/vivo-y20.png" >
      <div class="center">
        Vivo Y20 <br>
        ราคา : 5,700 <br>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          สั่งซื้อ
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  </ion-grid>
 </div>
</ion-content>
