ion-toolbar{
  color: rgb(62, 255, 4);
}

.bg{
  background-color: rgb(218, 156, 75);
  width: 100%; height: 200%;
}

.center {
  text-align: center;
}

ion-title{
  background-color:rgb(99, 68, 199);
}
